
				<div class="header_bottom">
					<div class="header_bottom_left">				
						<div class="categories">
						
						   <ul>
						  	   <h3>Companies</h3>
                               <li class="search_box" >
                                   <form method="post" action="/searchcompany">
                                       <input type="text" name="srch" id="srch" list="datalist1" />
                                       <datalist id="datalist1">
                                    {{#each companies}}
                                           <option value = {{this.company_name}}/>

                                        {{/each}}
                                       </datalist>
                                       <input type="submit" value="">
                                   </form>
                               </li>
						  	   {{#each companies}}
							      <li><a href="/viewcompany{{this.company_id}}">{{this.company_name}}</a></li>
							     {{/each}} 
						  	 </ul>
						  	 
						  	 
						
						
						</div>					
		  	         </div>
						    <div class="header_bottom_right">					 
						 	    <!------ Slider ------------>
								  <div class="slider">
							      	<div class="slider-wrapper theme-default">
							            <div id="slider" class="nivoSlider">
							                <img src="images/front.jpg" data-thumb="images/front.jpg" alt="" height="500" width="1000" />
							                <!--<img src="images/2.jpg" data-thumb="images/2.jpg" alt="" />
							                <img src="images/3.jpg" data-thumb="images/3.jpg" alt="" />
							                <img src="images/4.jpg" data-thumb="images/4.jpg" alt="" />
							                 <img src="images/5.jpg" data-thumb="images/5.jpg" alt="" /> -->
							            </div>
							        </div>
						   		</div>
						<!------End Slider ------------>
			         </div>
			     <div class="clear"></div>
			</div>
   		</div>
   </div>
   <!------------End Header ------------>
  <div class="main">
  	<div class="wrap">
      <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Special Products</h3>
    		</div>
    	</div>
    	
	      <div class="section group">
	      {{#each special}}
				<div class="grid_1_of_5 images_1_of_5">
					 <img  src="{{this.Image}}" width="150" height="150"  >



                    <p><a href="/viewspecial{{this.product_id}}">{{this.product_name}}</a></p>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">Rs {{this.price}}</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="/viewspecial{{this.product_id}}">View</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>					 
				</div>
				
			{{/each}}	
				
							     
			</div>
			</div>
			<div class="content_bottom">
    		<div class="heading">
    		<h3>New Products</h3>
    		</div>
    	  </div>
			<div class="section group">
				{{#each new}}
				<div class="grid_1_of_5 images_1_of_5">
					 <a href="preview.html"><img  src="{{this.Image}}" width="150" height="150"  ></a>
					 
					

					<p><a href="/viewspecial{{this.product_id}}">{{this.product_name}}</a></p>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">Rs {{this.price}}</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="/viewspecial{{this.product_id}}">View</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>					 
				</div>
				
			{{/each}}	
				
				
				
			</div>
       </div>
  </div>
</div>