<style type="text/css">
    body{
        font-family: Arail, sans-serif;
    }
    /* Formatting search box */
    .search-box{
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    .result{
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
    }
    .search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }
    /* Formatting result items */
    .result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }
    .result p:hover{
        background: #f2f2f2;
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.search-box input[type="text"]').on("keyup input", function(){
            /* Get input value on change */
            var inputVal = $(this).val();
            var resultDropdown = $(this).siblings(".result");
            if(inputVal.length){
                $.get("/search"+ inputVal).done(function(data){
                    // Display the returned data in browser
                    /*dataarry =JSON.parse(data);
                    for(i=0;i<dataarry.length;i++){
                        console.log(dataarry[i]);
                        resultDropdown.html(dataarry[i]);
                    }*/
                    resultDropdown.html(JSON.parse(data));
                });
            } else{
                resultDropdown.empty();
            }
        });

        // Set search input value on click of result item
        $(document).on("click", ".result p", function(){
            $(this).parents(".search-box").find('input[type="text"]').val($(this).text());
            $(this).parent(".result").empty();
        });
    });
</script>
<div class="header_bottom">
    <div class="header_bottom_left">
        <div class="categories">

            <ul>

                <h3>Our Companys</h3>

                <!--  <li class="search_box" >
        <form method="post" action="/searchcompany">
            <input type="text" name="srch" id="srch" list="datalist1" />
            <datalist id="datalist1">
                {{#each companies}}
                    <option value = {{this.company_name}}/>

                {{/each}}
            </datalist>
            <input type="submit" value="">
        </form>
    </li>-->
   <!-- <form autocomplete="off" action="/action_page.php">
        <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Country">
        </div>
        <input type="submit">
    </form>-->
                <div class="search-box">
                    <input type="text" autocomplete="off" placeholder="Search ..." />
                    <div class="result"></div>
                </div>

                {{#each company}}
                <li><a href="/ordercompany{{ this.company_id }}">{{this.company_name}}</a></li>
                {{/each}}

            </ul>
        </div>
    </div>
    <div class="header_bottom_right">
        <!------ Slider ------------>
        <!--Table-->
        <table class="table">

            <!--Table head-->
            <thead class="blue-grey lighten-4">
                <tr>
                    <th>Item Name</th>
                    <th>Brand</th>
                    <th>Batch ID</th>
                    <th>Ex Date</th>
                    <th>Unit Price</th>
                    <th>Number Of Unit</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->


            <tbody>
                {{#each items}}
                <tr>
                    <td>{{this.product_name}}</td>
                    <td>{{this.brand}}</td>
                    <td>{{this.batch_No}}</td>
                    <td>{{this.ex_date}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.units}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <a href="/updateorder{{this.product_id}}"> <button type="button" class="btn btn-primary">Update</button></a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                        <a href="/deleteorder{{this.product_id}}"> <button type="button" class="btn btn-danger">Delete</button> </a>
                    </td>
                </tr>
                {{/each}}

                <tr>
                    <th></th>
                    <th>Total Price</th>
                    <th></th>
                    <th>{{price}}</th>
                    <th></th>
                </tr>


            </tbody>


            <!--Table body-->

        </table>
        <!------End Slider ------------>
    </div>
    <div class="clear"></div>
</div>
   		</div>
   </div>
<!------------End Header ------------>
<div class="wish-list">
    <ul>
        <li> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</li>
        <li>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</li>
        <li>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</li>
        <li>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</li>
        <li>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</li>
        <li class="wish"><a href='/submitOrder'>Submit</a></li>
        <li class="compare"><a href='/cansaleOrder'>Cansale</a></li>
    </ul>
</div>



