
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.search-box input[type="text"]').on("keyup input", function(){
            /* Get input value on change */
            var inputVal = $(this).val();
            var resultDropdown = $(this).siblings(".result");
            if(inputVal.length){
                $.get("/item"+ inputVal).done(function(data){
                    // Display the returned data in browser
                    /*dataarry =JSON.parse(data);
                    for(i=0;i<dataarry.length;i++){
                        console.log(dataarry[i]);
                        resultDropdown.html(dataarry[i]);
                    }*/
                    resultDropdown.html(JSON.parse(data));
                });
            } else{
                resultDropdown.empty();
            }
        });

        // Set search input value on click of result item
        $(document).on("click", ".result p", function(){
            $(this).parents(".search-box").find('input[type="text"]').val($(this).text());
            $(this).parent(".result").empty();
        });
    });
</script>

    <div class="main">
        <div class="wrap">


            <div class="section group">
                {{#each company}}

                <div class="product-details">


                    <h2>{{this.company_name}} </h2>

                    <form method="post" action="/searchproduct{{this.company_id}}">
                        <div class="search-box">
                            <input type="text" autocomplete="off" placeholder="Search ..." name="srch" />
                            <div class="result"></div>
                        </div>
                        <!-- <input type="submit" value="">-->
                    </form>

                    {{/each}}
                    <!--Table-->
                    </br>
                    <table class="table">

                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>Product </th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Batch ID</th>
                                <th></th>

                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            {{#each list}}
                            <tr>
                                <th class="table-primary" scope="row">{{this.product_name}}</th>
                                <td class="table-primary">{{this.brand}}</td>
                                <td class="table-primary">{{this.model}}</tdclass="table-primary">
                                <td class="table-primary"> {{this.batch_id}}</td>

                                <td class="table-primary"><input class="col-md-3" type="text" placeholder="{{this.units}}" Name="units"></td>
                            </tr>

                            {{/each}}
                            {{#each products}}
                            <tr>
                                <th scope="row"><small>{{this.product_name}}</small></th>
                                <td>{{this.brand}}</td>
                                <td>{{this.model}}</td>
                                <td><a href="/products{{this.product_id}}"><button type="button" class="btn btn-primary btn-rounded btn-sm">View</button></a></td>

                                <form method="post" action="/oderlist{{product_id}}">
                                    <td>
                                        <input class="col-md-3" type="text" placeholder="Order Qty" Name="units">
                                        <button type="submit" class="label label-primary btn-sm">Add To</button>
                                    </td>

                                </form>
                            </tr>

                            {{/each}}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href='/order'><button type="button" class="btn btn-info">Back To List</button></a></td>
                            </tr>
                        </tbody>
                        <!--Table body-->

                    </table>
                    <!--Table-->


                </div>




                <div class="clear"></div>
            </div>

        </div>

    </div>

   


