	
   <div class="main">
   	 <div class="wrap">
   	 	
   	 	<div class="section group">
   	 	{{#each company}}
				<div class="cont-desc span_1_of_2">
				  <div class="product-details">				
					<div class="grid images_3_of_2">
						<img src={{this.company_logo}} height="300" width="300"alt="" />
				  </div>
				<div class="desc span_3_of_2">
				
					<h2>{{this.company_name}} </h2>
					<p>{{this.company_discription}}</p>	
				{{/each}}				
					
			</div>
			<div class="clear"></div>
		  </div>
		<div class="product_desc">	
			 <h2>Our products :</h2>
             <p>

                 {{#each products}}
                 <a href="/viewspecial{{this.product_id}}">{{this.product_name}}</a>
                 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                 {{/each}}

             </p>
	   </div>
   </div>
				
   	 		</div>
        </div>
  