<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">View Order Table</h3>

             
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Item Name</th>
                  <th>Brand</th>
                  <th>Number Of Units</th>
                  <th>Price</th>
                  
                </tr>
                {{#each oder}}
                <tr>
                    <td>{{this.product_name}}</td>
                  <td>{{this.brand}}</td>
                  <td>{{this.units}}</td>
                  <td>{{this.price}}</td>
                  

                  
                </tr>
                {{/each}}
                <tr>

                    <th> Total Price </th>
                    <td></td>
                    <td></td>
                    <th>{{price}}</th>
                </tr>
                
                
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

    </div>
</div>  
