<section class="content-header">
      <h1>
        User Profile
      </h1>
      
    </section>
      {{#each user}}
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src= {{this.logo}} alt="User profile picture">

              <h3 class="profile-username text-center">{{this.pharmacy_name}}</h3>

              <p class="text-muted text-center">Pharmacy</p>

              <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                  <b>User ID</b> <a class="pull-right">{{user_id}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{email}}</a>
                </li>
                <li class="list-group-item">
                  <b>Contact No</b> <a class="pull-right">{{tel_number}}</a>
                </li>
                
              </ul>

             
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i>Registation No </strong>

              <p class="text-muted">
                {{register_no}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>

              <p class="text-muted">{{address}}</p>

              <hr>

              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->      
      
      {{/each}}
      
<div class="col-md-9">
          <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
                  <li><a href="#settings" data-toggle="tab">Previous Oders</a></li>
                   <li><a href="#discussion" data-toggle="tab">Disscus</a></li>
     <!--<li><a href="#settings" data-toggle="tab">P-U</a></li>
     <li><a href="#settings" data-toggle="tab">V-Z</a></li>-->
              </ul>
            <div class="tab-content">
                   
            <div class="active tab-pane" id="pending">
              {{#each oders}}
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-blue">
                          {{this.order_id}}
                        </span>
                  </li>
                  
                  <li>
                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{this.order_date}}</span>

                      <h3 class="timeline-header no-border"><a >Order No {{this.order_id}} </a>
                      <div class="timeline-footer">
                        <a href="/admin/view_order{{this.order_id}}" class="btn btn-warning btn-flat btn-xs">View order</a>
                      </div>
                      </h3>
                    </div>
                  </li>
                  
                </ul>
              {{/each}}
            </div>
              
              <!-- /.tab-pane -->
            
            <div class="tab-pane" id="settings">
                {{#each apoder}}
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-blue">
                            {{this.order_id}}
                        </span>
                    </li>

                    <li>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> {{this.order_date}}</span>

                            <h3 class="timeline-header no-border">
                                <a>Order No {{this.order_id}} </a>
                                <div class="timeline-footer">
                                    <a href="/admin/preview_order{{this.order_id}}" class="btn btn-warning btn-flat btn-xs">View order</a>
                                    <a href="/admin/show_invoice{{this.order_id}}" class="btn btn-success btn-flat btn-xs">Show Invoice</a>

                                </div>
                            </h3>
                        </div>
                    </li>




                </ul>
                {{/each}}
                </div>
                <div class="tab-pane" id="discussion">
                    {{#each discuss}}
                    <!-- The timeline -->
                    <ul class="timeline timeline-inverse">
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-blue">
                                {{this.dis_id}}
                            </span>
                        </li>

                        <li>
                            <div class="timeline-item">
                                <span class="time">{{this.type}}</i> </span>

                                <h3 class="timeline-header no-border">
                                    <a>Discuss No {{this.dis_id}} </a>
                                    <a></a>

                                    <div class="timeline-footer">
                                        <a href="/viewreply{{this.dis_id}}" class="btn btn-warning btn-flat btn-xs">More</a>
                                        &nbsp;&nbsp;

                                    </div>
                                </h3>
                            </div>
                        </li>




                    </ul>
                    {{/each}}

                </div>

            </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </div>
  </div>
      <!-- /.row -->

    </section>