<section class="content-header">
      <h1>
        Company Profile
      </h1>
      
    </section>
      {{#each product}}
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src= {{this.Image}} alt="User profile picture">

              <h3 class="profile-username text-center">{{this.product_name}}</h3>

              <p class="text-muted text-center">Medicine</p>

              <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                  <b>Product ID</b> <a class="pull-right">{{product_id}}</a>
                </li>
                <li class="list-group-item">
                  <b>Company Id</b> <a class="pull-right">{{company_id}}</a>
                </li>
                
                
              </ul>

              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Model</strong>

              <p class="text-muted">
                {{model}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Weight</strong>

              <p class="text-muted">{{weight}}</p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Unit Stock</strong>

              <p class="text-muted">{{unit_stock}}</p>

              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Price</strong>

              <p class="text-muted">{{price}}</p>

      
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Discription</strong>

              <p class="text-muted">{{product_details}}</p>

              

              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->      
      
      {{/each}}
      
      
      
        <!-- /.col (LEFT) -->
        <div class="col-md-9">
          

          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Bar Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:230px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        
        <!-- /.col (RIGHT) -->
      
      <!-- /.row -->
    </div>
    </div>

    