<section class="content-header">
      <h1>
        Company Profile
      </h1>
      
    </section>
      {{#each product}}
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src= {{this.Image}} alt="User profile picture">

              <h3 class="profile-username text-center">{{this.product_name}}</h3>

              <p class="text-muted text-center">Medicine</p>

              <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                  <b>Product ID</b> <a class="pull-right">{{product_id}}</a>
                </li>
                <li class="list-group-item">
                  <b>Company Id</b> <a class="pull-right">{{company_id}}</a>
                </li>
                  <li class="list-group-item">
                      <b>Model</b> <a class="pull-right">{{model}}</a>
                  </li>
                  <li class="list-group-item">
                      <b>Weight</b> <a class="pull-right">{{weight}}</a>
                  </li>
                  <li class="list-group-item">
                      <b>Unit Stock</b> <a class="pull-right">{{unit_stock}}</a>
                  </li>
                  <li class="list-group-item">
                      <b>Price</b> <a class="pull-right">{{price}}</a>
                  </li>

                  <li class="list-group-item">
                      <b>PriceReorder Level</b> <a class="pull-right">{{reorder}}</a>
                  </li>
                  <li class="list-group-item">
                      <b>Ex Priode</b> <a class="pull-right">{{ex_time}}</a>
                  </li>

                
                
              </ul>

              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->
        </div>
        <!-- /.col -->
      
      {{/each}}
      
      
      
        <!-- /.col (LEFT) -->
        <div class="col-md-9">
          

          <!-- BAR CHART -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Bar Chart</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:230px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>


            <!-- /.box-header -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Product Stock</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>Batch No</th>
                                    <th>Exdate</th>
                                    <th>Qty</th>

                                    <!-- <th>Sent Date</th>-->
                                    <th></th>
                                </tr>
                                {{#each stock}}
                                    <tr>

                                        <td>{{this.batch_No}}</td>
                                        <td>{{this.ex_date}}</td>
                                        <td>{{this.qty}}</td>





                                    </tr>
                                {{/each}}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
          <!-- /.box -->

        
        <!-- /.col (RIGHT) -->
      
      <!-- /.row -->
    </div>
    </div>

    